
//  the .default.layout presentation styles
.default.layout {
@import 'default/avatars';
@import 'default/forms';
@import 'default/lists';
@import 'default/menus';
@import 'default/page';
@import 'default/panels';
@import 'default/tables';
}


//  the default.layout mobile screen mechanics
.default.layout {
  position:         relative;

    .auth.panel,
    .menu.panel,
    .main.page {
      min-height:       100vh;
    }

    .auth.panel,
    .menu.panel,
    .main.page >.content,
    .main.page >.top {
      transition:       all $menu-transition;
    }
    .main.page {
      margin-left:      0;
      margin-right:     0;
      transition:       all $menu-transition;
    }
    .main.page .main.content,
    .main.page .nav.top {
      max-width:        100vw;
      width:            100vw;
    }

    .auth.panel,
    .menu.panel {
      transition:       all $menu-transition;
      width:            0;
    }

    &.menu-open .menu.panel {
        width:            $menu-panel-size;
    }

    &.auth-open,
    &.auth-open.menu-closed,
    &.auth-open.menu-open {
        .auth.panel {
          width:            $auth-panel-size;
        }
    }

    &.auth-open,
    &.menu-open {
        .panel >.footer,
        .panel >.header {
          display:          flex;
        }
    }

    &.auth-open .auth.panel >.options {
      display:          flex;
    }

    &.menu-open .menu.panel >.options {
      display:          block;
    }
}


//  the default.layout medium screen mechanics
@media screen and (max-width: calc($break-medium - 1px)) {
    .default.layout {
        &.auth-open:not(menu-closed),
        &.auth-open.menu-open {
            .menu.panel {
              width:            0;
            }
        }
    }
}

@media screen and (min-width: $break-medium) {
    .default.layout {
        &.menu-closed {
            .main.page {
              margin-left:      $app-block-size;
            }
            .main.page .main.content, .main.page .nav.top {
              max-width:        calc(100vw - $app-block-size);
            }
            .menu.panel {
              width:            $app-block-size;
            }
        }

        &.menu-open, &:not(.menu-closed) {
            .main.page {
              margin-left:      $menu-panel-size;
            }
            .main.page .main.content, .main.page .nav.top {
              max-width:        calc(100vw - $menu-panel-size);
            }
            .menu.panel  {
              width:            $menu-panel-size;
            }
        }

        &.auth-open,
        &.auth-open.menu-closed,
        &.auth-open.menu-open {
            .main.page {
              margin-left:      $app-block-size;
              margin-right:     $auth-panel-size;
            }
            .main.page .main.content, .main.page .nav.top {
              width:            calc(100vw - ($app-block-size + $auth-panel-size));
            }
            .menu.panel {
              width:            $app-block-size;
            }
        }
    }
}

/*
//  the default.layout extra extra screen mechanics
@media screen and (min-width: $break-x-extra) {
    .default.layout {
        &.auth-open:not(menu-closed),
        &.auth-open.menu-open {
            .main.page {
              margin-left:      $menu-panel-size;
              margin-right:     $auth-panel-size;
            }
            .main.page .main.content, .main.page .nav.top {
              width:            calc(100vw - ($menu-panel-size + $auth-panel-size));
            }
            .menu.panel {
              width:            $menu-panel-size;
            }
        }
    }
}
*/
