
.account-summary {
  display:          flex;
  flex-wrap:        wrap;

    .descriptions {
      display:          flex;
      flex-direction:   column;
      flex-grow:        1;

        .description-lists {
          margin-left:      2rem;
          margin-right:     2rem;
        }
    }
}

@media screen and (min-width: $break-large) {
    .account-summary {
        .descriptions {
          flex-direction:   row;
        }
    }
}
