
.p-button {
    &.p-button-sm {
      font-size:        .825rem;
    }
    &.p-button-xs {
      font-size:        .625rem;
      height:           1.5rem;
      width:            1.5rem;
        .pi {
          font-size:        .625rem;
        }
    }
}

.p-form {
    
}
