
.p-button {
    &.p-button-sm {
      font-size:        .825rem;
      height:           2rem;
      width:            2rem;
    }
    &.p-button-xs {
      font-size:        .625rem;
      height:           1.5rem;
      width:            1.5rem;
        .pi {
          font-size:        .625rem;
        }
    }
}

.p-inputswitch {
  min-width:        3rem;
}

.p-inputtextarea::placeholder,
.p-inputtext::placeholder {
  font-size:        .925rem;
  // font-style:       italic;
}
