*.log
.DS_Store
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/ssr
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/*.sql
composer.json.*
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
