/node_modules
/public/css
/public/fonts
/public/hot
/public/images
/public/js
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.sql
*.tar.gz
