
.p-dataview {
    .p-dataview-content {
      background-color: transparent;
    }
}

.p-dataview-emptymessage {
  color:            var(--bluegray-400);
  padding:          1rem;
  text-align:       center;
}
