
//  the base vendor resources
@import '~primevue/resources/themes/saga-blue/theme.css';
@import '~primevue/resources/primevue.min.css';
@import '~primeflex/primeflex.scss';
@import '~primeicons/primeicons.css';


//  the local app resources
@import 'app/variables';
@import "fonts/helveticaneue";  // 'Helvetica Neue',
@import "fonts/opensans";       // 'Open Sans',
@import "fonts/roboto";         // 'Roboto','


//  the default layout
#app {
@import 'app/layouts/default';
@import 'app/layouts/guest';
}


//  the app style definitions
#app {
@import 'app/accounts';
@import 'app/branding';
@import 'app/effects';
@import 'app/notifications';
@import 'app/positioning';
@import 'app/sizing';
}

//  the app primevue adjustments
#app {
@import 'app/primevue';
@import 'app/primevue/dataviews';
@import 'app/primevue/cards';
@import 'app/primevue/forms';
@import 'app/primevue/panels';
@import 'app/primevue/tables';
}


//  the core html elements
body {
  background:       $surface-section;
  color:            $surface-overlay;
  font-family:      $font-family-primary;
  font-size:        $app-rem-size;
  font-weight:      200;
  margin:           0;
  padding:          0;
}

dl,h1,h2,h3,h4,h5,h6,ol,p,ul {
  margin:           0;
}

h1,h2,h3,h4 {
  font-family:      $font-family-secondary;
}
h1,h2 {
  font-weight:      200;
}
h3,h4 {
  font-weight:      400;
}
strong {
  font-weight:      600;
}

a, a:visited {
  color:            var(--bluegray-700);
  text-decoration:  none;
  transition:       color .25s ease;
}
a:active, a:hover {
  color:            var(--bluegray-800);
}
