
.nav.top {
  display:          flex;
  flex-direction:   row;

    .block, .inline {
      border-right:     1px solid var(--bluegray-200);
      align-items:      center;
      display:          flex !important;
      height:           $app-block-size;

        &:last-child {
          border-right:     0;
        }

        >.p-button {
          background-color: transparent;
          border-color:     transparent;
        }

        >.p-button >.pi,
        >.pi {
          font-size:        1.5rem;
        }
    }

    .block {
      flex-grow:        1;
      justify-content:  flex-start;
    }

    .inline {
      justify-content:  center;
      width:            $app-block-size;
    }
}
