
:root {
    --p-avatar-color: var(--p-surface-50);
    --p-avatar-font-size: 1.25rem;
    --p-avatar-height: 2.5rem;
    --p-avatar-width: 2.5rem;

    .p-avatar {
        &.avatar-sm {
            --p-avatar-font-size: .875rem;
            --p-avatar-height: 1.625rem;
            --p-avatar-width: 1.625rem;
        }
        &.avatar-md {
            --p-avatar-font-size: 1rem;
            --p-avatar-height: 2rem;
            --p-avatar-width: 2rem;
        }
        &.avatar-lg {
            --p-avatar-font-size: 2rem;
            --p-avatar-height: 4rem;
            --p-avatar-width: 4rem;
        }
        &.avatar-xl {
            --p-avatar-font-size: 4rem;
            --p-avatar-height: 8rem;
            --p-avatar-width: 8rem;
        }
        &.avatar-xx {
            --p-avatar-font-size: 6rem;
            --p-avatar-height: 12rem;
            --p-avatar-width: 12rem;
        }
    }
}
