
.avatar {

    >.avatar-sm {
      font-size:        .5rem;
      font-weight:      100;
      height:           1rem;
      width:            1rem;
    }
    >.avatar-md {
      font-size:        1.5rem;
      height:           2.5rem;
      width:            2.5rem;
    }
    >.avatar-lg {
      font-size:        2rem;
      height:           4rem;
      width:            4rem;
    }
    >.avatar-xl {
      font-size:        3rem;
      height:           6rem;
      width:            6rem;
    }
    >.avatar-xx {
      font-size:        4rem;
      height:           8rem;
      width:            8rem;
    }

}

:root {
    --p-avatar-color:       var(--p-surface-300);
}
