
.background-danger {
  background-color: $background-danger;
}
.background-info {
  background-color: $background-info;
}
.background-success {
  background-color: $background-success;
}
.background-warning {
  background-color: $background-warning;
}

.color-danger {
  color: $color-danger;
}
.color-info {
  color: $color-info;
}
.color-success {
  color: $color-success;
}
.color-warning {
  color: $color-warning;
}
