
/*
.invisible {
  opacity:          0;

    &.fade-in {
      opacity:          1;
      transition:       opacity .35s ease-out;
    }
}

.visible {
  opacity:          1;

    &.fade-out {
      opacity:          0;
      transition:       opacity .35s ease-in;
    }
}
*/
