form, .form {

    >.p-card:not(:last-child) {
      margin-bottom:    1rem;
    }

    .actions.control {
      display:          flex;
      flex-direction:   row-reverse;
      justify-content:  space-between;
      margin-top:       1.5rem;

        .actions-left {
          display:          flex;
        }
        .actions-right {
          display:          flex;
          flex-direction:   row-reverse;
          gap:              calc(var(--spacing) * 2);
        }

        .p-button-sm {
          margin-bottom:    .125rem;
          margin-top:       .125rem;
        }
    }

    .field.control {
      display:          flex;
      margin-bottom:    .5rem;
      min-height:       2.5rem;

        .error {
          color:            var(--p-form-field-invalid-placeholder-color);
          font-size:        .75rem;
          font-weight:      600;
        }

        &.checkbox,
        &.switch {
            .error {
              flex-wrap:        wrap;
              order:            3;
                .message {
                  display:          block;
                }
            }
            .placeholder {
              margin-left:      .25rem;
              margin-right:     .25rem;
              white-space:      nowrap;
            }
        }

        .input {
            &:focus, &:focus-within {
                --input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
            }
            >input {
              width:            inherit;
            }
            >svg {
              cursor:           pointer;
            }
        }
    }

    .line-break {
      margin:           0;

        hr {
          border:           0;
          height:           1px;
        }
    }

    .section {
      margin-bottom:    1rem;
    }

    &.horizontal .field.control, .horizontal .field.control, .field.control.horizontal, .vertical .horizontal.field.control {
      align-items:      center;
      flex-direction:   row;

        .label {
          margin-bottom:    0;
          margin-right:     .5rem;
          max-width:        5rem;
          min-width:        5rem;
        }

        .p-invalid {
            .p-dropdown-trigger,
            .p-multiselect-trigger {
              display:          none;
            }
        }

        &.checkbox.checkbox-first,
        &.switch.switch-first {
          flex-wrap:        wrap;
            .label {
              flex-grow:        1;
              margin-bottom:    0;
              margin-right:     0;
              max-width:        unset;
              min-width:        unset;
              order:            2;
              width:            auto;
            }

            .p-checkbox,
            .p-toggleswitch {
              margin-right:     .5rem;
              order:            1;
            }
        }

        &.checkbox.checkbox-first {
            .label {
              align-self:       center;
              padding-bottom:   .25rem;
            }
        }
    }

    &:not(.horizontal) .field.control,
    &.vertical .field.control, .vertical .field.control, .field.control.vertical, .horizontal .field.control.vertical {
      align-items:      flex-start !important;
      flex-direction:   column;

        .label {
          margin-bottom:    .5rem;
          margin-right:     0;
          max-width:        unset;
          min-width:        unset;
        }

        &.checkbox .p-checkbox,
        &.switch .p-toggleswitch {
          margin-bottom:    .5rem;
          margin-top:       .5rem;
        }
    }

    .horizontal.field.control {
      align-items:      center;
      flex-direction:   row !important;

        .label {
          margin-bottom:    0;
        }
    }

    .vertical.field.control {
      flex-direction:   column !important;

        .label {
          margin-bottom:    .5rem;
        }
    }

    /*
    .p-inputswitch.is-creating:not(.p-invalid) .p-inputswitch-slider::before {
      background-color: var(--p-sky-200);
    }
    .p-inputswitch.p-inputswitch-checked.is-creating:not(.p-invalid) .p-inputswitch-slider::before {
      background-color: var(--p-sky-300);
    }
    */
    .p-checkbox.is-creating:not(.p-invalid) .p-checkbox-box,
    .p-calendar.is-creating:not(.p-invalid) .p-inputtext,
    .p-inputtext.is-creating:not(.p-invalid),
    .p-inputwrapper.is-creating:not(.p-calendar):not(.p-invalid),
    .p-password.is-creating:not(.p-invalid) .p-inputtext {
      background-color: var(--p-sky-100) !important;
      border-color:     var(--p-sky-400) !important;
    }

    /*
    .p-inputswitch.is-updating:not(.p-invalid) .p-inputswitch-slider::before {
      background-color: var(--p-amber-200);
    }
    .p-inputswitch.p-inputswitch-checked.is-updating:not(.p-invalid) .p-inputswitch-slider::before {
      background-color: var(--p-amber-300);
    }
    */
    .p-checkbox.is-updating:not(.p-invalid) .p-checkbox-box,
    .p-calendar.is-updating:not(.p-invalid) .p-inputtext,
    .p-inputtext.is-updating:not(.p-invalid),
    .p-inputwrapper.is-updating:not(.p-calendar):not(.p-invalid),
    .p-password.is-updating:not(.p-invalid) .p-inputtext {
      background-color: var(--p-amber-100) !important;
      border-color:     var(--p-amber-400) !important;
    }
}

.dark-mode {
    form, .form {
        .p-checkbox.is-creating:not(.p-invalid) .p-checkbox-box,
        .p-calendar.is-creating:not(.p-invalid) .p-inputtext,
        .p-inputtext.is-creating:not(.p-invalid),
        .p-inputwrapper.is-creating:not(.p-calendar):not(.p-invalid),
        .p-password.is-creating:not(.p-invalid) .p-inputtext {
          background-color: var(--p-sky-800) !important;
          border-color:     var(--p-sky-600) !important;
        }

        .p-checkbox.is-updating:not(.p-invalid) .p-checkbox-box,
        .p-calendar.is-updating:not(.p-invalid) .p-inputtext,
        .p-inputtext.is-updating:not(.p-invalid),
        .p-inputwrapper.is-updating:not(.p-calendar):not(.p-invalid),
        .p-password.is-updating:not(.p-invalid) .p-inputtext {
          background-color: var(--p-amber-800) !important;
          border-color:     var(--p-amber-600) !important;
        }
    }
}
