
.default.layout {

    .auth.panel,
    .menu.panel {
        .navigation.options {
          margin:           0;
          padding:          0;

            .action {
              cursor:           pointer;
            }
        }
    }

    .auth.panel {
        .profile.header {
          align-items:      center;
          display:          flex;
          flex-direction:   column;
          justify-content:  center;
          margin-bottom:    1rem;
          margin-top:       4rem;
          width:            calc(1rem * 4 * 4);

            .avatar {
                .p-avatar {
                    /*&.greyscale-dark {
                      background-color: $surface-primary !important;

                        .p-avatar-text {
                          color:            $surface-section;
                        }
                    }

                    &.greyscale-light {
                      background-color: $surface-section !important;

                        .p-avatar-text {
                          color:            $surface-primary;
                        }
                    }

                    &.has-border {
                      border:           2px solid $white;
                    }*/
                }
            }

            .email {
              font-weight:          100;
              margin-bottom:        1rem;
            }
            .name {
              font-weight:          400;
              margin-top:           1rem;
            }
        }

        .navigation.options {
          flex-direction:   row;
          flex-wrap:        nowrap;
          justify-content:  space-evenly;

            .item {
              border-radius:    var(--p-border-radius-xl);

                .option {
                  align-items:      center;
                  display:          flex;
                  flex-direction:   column;
                  margin-left:      .5rem;
                  margin-right:     .5rem;
                  padding:          .5rem;
                  width:            4rem;

                    .icon {
                      align-items:      center;
                      border-radius:    12345px;
                      display:          flex;
                      height:           2.5rem;
                      justify-content:  center;
                      transition:       background .35s ease;
                      width:            2.5rem;

                        .pi {
                          font-size:        1.25rem;
                        }
                    }

                    .text {
                      display:          inline-block;
                      font-size:        .875rem;
                      margin:           .25rem 0;
                    }
                }
            }
        }
    }

    .menu.panel {
        .navigation.options {
            .item {
              border-radius:    var(--p-border-radius-md);
              font-size:        1rem;
              height:           2.25rem;
              margin:           .25rem;
              overflow:         hidden;

                &.child {
                  /*background-color: var(--p-surface-200);*/
                }

                &.heading {
                  height:           2.5rem;
                  margin-top:       .5rem;

                    .text {
                      flex-grow:            1;
                      font-weight:          600;
                      text-indent:         .5rem;
                    }
                }

                &.child,
                &.heading {
                }

                &:not(.heading) {
                  cursor:           pointer;
                }

                .option {
                  align-items:      center;
                  display:          flex;
                  height:           inherit;
                  padding-left:     .75rem;
                  padding-right:    .75rem;

                    .icon {
                      text-align:       center;
                      width:            2rem;
                    }
                    .text {
                      white-space:      nowrap;
                      width:            0;
                    }
                }
            }
        }
    }

    &.auth-closed,
    &:not(.auth-open) {
        .auth.panel {
            .header,
            .options {
              display:          none;
            }
        }
    }

    &.menu-open,
    &:not(.menu-closed) {
        .menu.panel {
            .top-menu .item .sub-menu {
                /*.option {
                  padding-left:     1.5rem;
                  padding-right:    1.5rem;
                }*/
            }
        }
    }

    @media screen and (min-width: 768px) {
        &.auth-open.menu-open,
        &.auth-open:not(.menu-closed),
        &.menu-closed {
            .branding.header .menu-open .text,
            .menu.panel .navigation.options .item .text {
              display:          none;
            }
        }
    }

    /*
    @media screen and (min-width: $break-x-extra) {
        &.auth-open.menu-open,
        &.auth-open:not(.menu-closed) {
            .branding.header .text,
            .menu.panel .options .item .text {
              display:          initial;
            }
        }
    }
    */

}
