
.fixed.messages {
    bottom: 1rem; right: 1rem;
    max-width: calc($break-x-small + 1px);
    z-index: 9999;
}

.flash.messages {
    .message {
        &.fade-in {
          opacity:          1;
          transition:       opacity 1s linear;
        }
        &.fade-out {
          opacity:          0;
          transition:       opacity 3s linear;
        }

        .pi {
          font-size:        1rem;
        }

        .p-message-wrapper {
          padding:          .5rem 1rem;

            .p-message-icon {
              align-items:      center;
              background-color: green;
              border-radius:    12345px;
              display:          none; // flex;
              height:           2.5rem;
              justify-content:  center;
              margin-left:      -2.825rem;
              margin-right:     1rem;
              width:            2.5rem;
            }

            .p-message-text {
              margin-left:      1rem;
              margin-right:     1rem;
            }
        }
    }

    .message.fade-in {
    }
    .message.fade-out {
    }
}
