
.auto-margin {
  margin-left:      auto;
  margin-right:     auto;
}

.display-grid {
  display:          grid;
}

.justify-self-baseline {
  justify-self:     baseline;
}
.justify-self-center {
  justify-self:     center;
}
.justify-self-end {
  justify-self:     end;
}
.justify-self-start {
  justify-self:     start;
}
