
.auto-margin { margin-left: auto; margin-right: auto; }

.relative-overflow { overflow:hidden; position:relative; }

.width-quarter { width: 25%; }
.width-full { width: 100%; }
.width-half { width: 50%; }

.max-height-16 { max-height:  1rem; }
.max-height-24 { max-height:  1.5rem; }
.max-height-32 { max-height:  2rem; }
.max-height-48 { max-height:  3rem; }
.max-height-64 { max-height:  4rem; }
.max-height-80 { max-height:  5rem; }
.max-height-96 { max-height:  6rem; }
.max-height-screen { max-height: 100vh; }

.min-height-16 { min-height:  1rem; }
.min-height-24 { min-height:  1.5rem; }
.min-height-32 { min-height:  2rem; }
.min-height-48 { min-height:  3rem; }
.min-height-64 { min-height:  4rem; }
.min-height-80 { min-height:  5rem; }
.min-height-96 { min-height:  6rem; }
.min-height-screen { min-height: 100vh; }

.max-width-xs { max-width:  $break-x-small; }
.max-width-sm { max-width:  $break-small; }
.max-width-md { max-width:  $break-medium; }
.max-width-lg { max-width:  $break-large; }
.max-width-xl { max-width:  $break-x-large; }
.max-width-screen { max-width: 100vw; }

.min-width-xs { min-width:  $break-x-small; }
.min-width-sm { min-width:  $break-small; }
.min-width-md { min-width:  $break-medium; }
.min-width-lg { min-width:  $break-large; }
.min-width-xl { min-width:  $break-x-large; }
.min-width-screen { min-width: 100vw; }

.width-xs { width:  $break-x-small; }
.width-sm { width:  $break-small; }
.width-md { width:  $break-medium; }
.width-lg { width:  $break-large; }
.width-xl { width:  $break-x-large; }

.max-width-16 { max-width:  1rem; }
.max-width-24 { max-width:  1.5rem; }
.max-width-32 { max-width:  2rem; }
.max-width-48 { max-width:  3rem; }
.max-width-64 { max-width:  4rem; }
.max-width-80 { max-width:  5rem; }
.max-width-96 { max-width:  6rem; }
.max-width-112 { max-width: 7rem; }
.max-width-128 { max-width: 8rem; }
.max-width-160 { max-width: 10rem; }
.max-width-192 { max-width: 12rem; }
.max-width-256 { max-width: 16rem; }
.max-width-320 { max-width: 20rem; }
.max-width-384 { max-width: 24rem; }

.min-width-16 { min-width:  1rem; }
.min-width-24 { min-width:  1.5rem; }
.min-width-32 { min-width:  2rem; }
.min-width-48 { min-width:  3rem; }
.min-width-64 { min-width:  4rem; }
.min-width-80 { min-width:  5rem; }
.min-width-96 { min-width:  6rem; }
.min-width-112 { min-width: 7rem; }
.min-width-128 { min-width: 8rem; }
.min-width-160 { min-width: 10rem; }
.min-width-192 { min-width: 12rem; }
.min-width-256 { min-width: 16rem; }
.min-width-320 { min-width: 20rem; }

.width-0  { width:  0; }
.width-16 { width:  1rem; }
.width-24 { width:  1.5rem; }
.width-32 { width:  2rem; }
.width-48 { width:  3rem; }
.width-64 { width:  4rem; }
.width-80 { width:  5rem; }
.width-96 { width:  6rem; }
.width-112 { width: 7rem; }
.width-128 { width: 8rem; }
.width-144 { width: 9rem; }
.width-160 { width: 10rem; }
.width-176 { width: 11rem; }
.width-192 { width: 12rem; }
.width-208 { width: 13rem; }
.width-224 { width: 14rem; }
.width-240 { width: 15rem; }
.width-256 { width: 16rem; }
.width-320 { width: 20rem; }

.height-0  { height:  0; }
.height-16 { height:  1rem; }
.height-24 { height:  1.5rem; }
.height-32 { height:  2rem; }
.height-40 { height:  2.5rem; }
.height-48 { height:  3rem; }
.height-64 { height:  4rem; }
.height-80 { height:  5rem; }
