
//  define the app sizing blocks
$app-rem-size:          16px;
$app-block-size:        calc($app-rem-size * 4);


//  define the breakpoints
$break-large:           992px;
$break-medium:          768px;
$break-small:           576px;
$break-x-extra:         1536px;
$break-x-large:         1184px;
$break-x-small:         416px;


//  define the fonts
$font-family-primary:   'Helvetica Neue', 'Helvetica', sans-serif;
$font-family-secondary: 'Roboto', $font-family-primary;
$font-family-avatar:    'Helvetica Neue Condensed', $font-family-primary;


//  define the menu sizing parameters
$menu-panel-size:       calc($app-block-size * 4);
$menu-transition:       .35s ease;


//  the auth panel is the right side slide-in panel
$auth-panel-size:       calc($app-block-size * 4);
$auth-transition:       $menu-transition;


//  the top and bottom page bars
$page-footer-size:      $app-block-size;
$page-header-size:      $app-block-size;


//  the avatar configuration
$avatar-border-radius:  3px;


//  the shadows
$shadow-1:              0 3px 5px rgba(0,0,0,.02),0 0 2px rgba(0,0,0,.05),0 1px 4px rgba(0,0,0,.08);
$shadow-2:              0 4px 10px rgba(0,0,0,.03),0 0 2px rgba(0,0,0,.06),0 2px 6px rgba(0,0,0,.12);
$shadow-3:              0 1px 8px rgba(0,0,0,.08), 0 3px 4px rgba(0,0,0,.1), 0 1px 4px -1px rgba(0,0,0,.1);
$shadow-4:              0 1px 10px rgba(0,0,0,.12),0 4px 5px rgba(0,0,0,.14),0 2px 4px -1px rgba(0,0,0,.2);
$shadow-5:              0 1px 7px rgba(0,0,0,.1),0 4px 5px -2px rgba(0,0,0,.12),0 10px 15px -5px rgba(0,0,0,.2);
