
.default.layout {

    .data .actions,
    .form .actions {
      display:          flex;
      justify-content:  space-between;

        .actions-left,
        .actions-right {
          display:          flex;
        }
        .actions-right {
          flex-direction:   row-reverse;
        }

        .p-button {
          margin:           0 .25rem;

            &:first-child {
              margin-right:     0;
            }

            &:last-child {
              margin-left:      0;
            }
        }
    }

    .main.content >.footer .actions {
        .actions-left,
        .actions-right {
          align-items:      center;
          display:          flex;
          height:           $page-footer-size;

            .p-button:not(.p-button-lg),
            .p-button:not(.p-button-sm),
            .p-button:not(.p-button-xl),
            .p-button:not(.p-button-xs) {
              height:           2.5rem;
            }
        }
        .actions-left {
          flex-direction:   row;
          margin-left:      1rem;

            .p-button:not(:last-child) {
              margin-right:     .25rem;
            }
        }
        .actions-right {
          bottom:           0;
          flex-direction:   row-reverse;
          margin-right:     1rem;
          position:         fixed;
          right:            0;

            .p-button:not(:last-child) {
              margin-left:      .25rem;
            }
        }
    }

    .main.content >.header .actions {
      display:          flex;
      flex-direction:   row;

        .action.current {
            .p-button.p-button-info.p-button-text {
              background: rgba(2, 136, 209, .12);
            }
        }

        .action {
            .p-button {
              border-bottom:    1px solid $surface-border;
              border-radius:    0;
              flex-direction:   column;
              height:           4rem;
              padding:          0;
              width:            4rem;

                .p-button-label {
                  font-size:        .875rem;
                }

                .pi {
                  font-size:        1.25rem;
                  padding:          .75rem .5rem .25rem;
                  margin-right:     0;
                }
            }
        }
    }

    .nav.top .block.action,
    .nav.top .inline.action {
      cursor:           pointer;

        &:hover {
          background-color: $top-hover;
        }

        &.impersonating {
          background-color: $impersonation-button;

            &:hover {
              background-color: $impersonation-hover;
            }
        }

        .avatar .p-avatar {
          font-size:        2rem;
          height:           3rem;
          width:            3rem;
        }
    }

}
