
.default.layout {

    .p-badge {
        &.p-badge-danger {
          background-color: $color-danger !important;
        }
        &.p-badge-help {
          background-color: $color-help !important;
        }
        &.p-badge-info {
          background-color: $color-info !important;
        }
        &.p-badge-primary {
          background-color: $color-primary !important;
        }
        &.p-badge-secondary {
          background-color: $color-secondary !important;
        }
        &.p-badge-success {
          background-color: $color-success !important;
        }
        &.p-badge-warning {
          background-color: $color-warning !important;
        }
    }

}
