
.default.layout {

    .form {

        >.p-card:not(:last-child) {
          margin-bottom:    1rem;
        }

        &.custom-actions {
          margin-bottom:    $page-footer-size;
        }

        .error {
          color:            $color-danger;
          font-size:        .75rem;
        }

        .field.control {
          display:          flex;
          min-height:       2.5rem;
        }

        .h2, .h3, .h4 {
        }

        .line-break {
          margin:           0 0 .5rem;
            hr {
              background:       $surface-border;
              border:           0;
              height:           1px;
            }
        }

        .section {
          margin-bottom:    1rem;
        }

        &.horizontal .field.control, .horizontal .field.control, .field.control.horizontal, .vertical .horizontal.field.control {
          align-items:      center;
          flex-direction:   row;

            .label {
              margin-bottom:    0;
              margin-right:     .5rem;
              max-width:        5rem;
              min-width:        5rem;
            }
            &.label-size-3 {
                .label {
                  max-width:        3rem;
                  min-width:        3rem;
                }
                &.checkbox.checkbox-first .p-checkbox,
                &.switch.switch-first .p-inputswitch {
                  margin-right:     .5rem;
                }
            }
            &.label-size-6 {
                .label {
                  max-width:        6rem;
                  min-width:        6rem;
                }
                &.checkbox.checkbox-first .p-checkbox,
                &.switch.switch-first .p-inputswitch {
                  margin-right:     .5rem;
                }
            }

            .p-invalid {
                .p-dropdown-trigger {
                  display:          none;
                }
            }

            .error {
                .pi {
                  align-items:      center;
                  display:          flex;
                  font-size:        1rem;
                  height:           2rem;
                  justify-content:  center;
                  margin-left:      -2rem;
                  position:         relative;
                  width:            2rem;
                  z-index:          999;
                }
                .message {
                  display:          none;
                }
            }

            &.checkbox.checkbox-first,
            &.switch.switch-first {
                .label {
                  margin-right:     0;
                  max-width:        unset;
                  min-width:        unset;
                  order:            2;
                  width:            auto;
                }
                .p-checkbox,
                .p-inputswitch {
                  order:            1;
                }
                .p-checkbox {
                  margin-right:     .5rem;
                }
                .p-inputswitch {
                  margin-right:     2.5rem;
                }
            }
        }

        &:not(.horizontal) .field.control,
        &.vertical .field.control, .vertical .field.control, .field.control.vertical, .horizontal .field.control.vertical {
          align-items:      flex-start;
          flex-direction:   column;

            .label {
              margin-bottom:    .5rem;
              margin-right:     0;
              max-width:        unset;
              min-width:        unset;
            }

            &.checkbox .p-checkbox,
            &.switch .p-inputswitch {
              margin-bottom:    .25rem;
              margin-top:       .25rem;
            }

            .error {
                .pi {
                  display:          none;
                }
            }
        }

        .horizontal.field.control {
          align-items:      center;
          flex-direction:   row !important;

            .label {
              margin-bottom:    0;
            }
        }

        .vertical.field.control {
          flex-direction:   column !important;

            .label {
              margin-bottom:    .5rem;
            }
        }
    }

    .p-inputswitch.is-creating:not(.p-invalid) .p-inputswitch-slider::before {
      background-color: $background-info;
    }
    .p-inputswitch.p-inputswitch-checked.is-creating:not(.p-invalid) .p-inputswitch-slider::before {
      background-color: $form-creating-slider;
    }
    .p-checkbox.is-creating:not(.p-invalid) .p-checkbox-box,
    .p-calendar.is-creating:not(.p-invalid) .p-inputtext,
    .p-inputtext.is-creating:not(.p-invalid),
    .p-inputwrapper.is-creating:not(.p-calendar):not(.p-invalid) {
      background-color: $form-creating-ground;
      border-color:     $color-info;
    }

    .p-inputswitch.is-updating:not(.p-invalid) .p-inputswitch-slider::before {
      background-color: $background-warning;
    }
    .p-inputswitch.p-inputswitch-checked.is-updating:not(.p-invalid) .p-inputswitch-slider::before {
      background-color: $form-updating-slider;
    }
    .p-checkbox.is-updating:not(.p-invalid) .p-checkbox-box,
    .p-calendar.is-updating:not(.p-invalid) .p-inputtext,
    .p-inputtext.is-updating:not(.p-invalid),
    .p-inputwrapper.is-updating:not(.p-calendar):not(.p-invalid) {
      background-color: $form-updating-ground;
      border-color:     $color-warning;
    }

    .p-checkbox.is-updating:not(.p-invalid) .p-checkbox-box {
      background-color: $background-info;
    }

    .p-inputtext.p-invalid, .p-inputwrapper.p-invalid, .p-inputwrapper.p-invalid .p-password-input {
      background-color: $form-invalid-ground;
      border-color:     $color-danger;
    }

    .p-tabview {
        .p-card {
          background-color: unset;
          border-color:     unset;
          margin-bottom:    2.5rem;

            .p-card-body {
              padding:          0;
            }

            .p-card-header {
              margin-bottom:    1rem;
            }
        }
    }

    .vue-form .form.shadow-1 {
      box-shadow:       none !important;
        .section .p-card {
          box-shadow:       $shadow-1;
        }
    }
    .vue-form .form.shadow-2 {
      box-shadow:       none !important;
        .section .p-card {
          box-shadow:       $shadow-2;
        }
    }
    .vue-form .form.shadow-3 {
      box-shadow:       none !important;
        .section .p-card {
          box-shadow:       $shadow-3;
        }
    }
    .vue-form .form.shadow-4 {
      box-shadow:       none !important;
        .section .p-card {
          box-shadow:       $shadow-4;
        }
    }
    .vue-form .form.shadow-5 {
      box-shadow:       none !important;
        .section .p-card {
          box-shadow:       $shadow-5;
        }
    }
}
