
.default.layout {

    .data.comments {
        .comment {
          border-top:   1px solid var(--surface-200);
          margin:       1rem 0;
          padding:      1rem 0;
        }
    }

    .data.summary {
      overflow:         hidden;
      transition:       height 1s ease;

        dl {
            dd, dt {
              margin:           0;
            }
            dd {
              /* border-bottom:    1px dashed gray; */
              color:            var(--gray-900);
              font-weight:      500;
            }
            dt {
              color:            var(--gray-600);
              font-size:        .825rem;
            }
        }

        &.grid > dl,
        > .grid-nogutter > dl {
          display:          inline-block;
        }

        &.horizontal {
            dl {
              padding:          0;
                dd, dt {
                  display:          inline-block;
                  margin-bottom:    .25rem;
                  padding:          0;
                }
            }
        }

        .vertical,
        &:not(.horizontal) {
            dl {
              padding:          .25rem .5rem;

                dt {
                  margin-bottom:    .25rem;
                }
                dd, dt {
                }
            }
        }
    }

    .description-lists:not(:last-child),
    .description-lists > dl:not(:last-child) {
      margin-bottom:    .75rem;
    }

    .description-lists > dl,
    .description-list {
        dd {
          margin-left:      0;
        }

        dt {
          color:            var(--surface-600);
          font-size:        .875rem;
        }

        em {
          color:            var(--surface-400);
        }
    }

}
