
.default.layout {

    .description-lists:not(:last-child),
    .description-lists > dl:not(:last-child) {
      margin-bottom:    .75rem;
    }

    .description-lists > dl,
    .description-list {
        dd {
          margin-left:      0;
        }

        dt {
          color:            var(--surface-600);
          font-size:        .875rem;
        }

        em {
          color:            var(--surface-400);
        }
    }

}
