
.default.layout {

    .auth.panel,
    .main.panel {
        .options {
          list-style-type:  none;
          margin:           0;
          padding:          0;

            .action {
              cursor:           pointer;
            }
        }
    }

    @media screen and (min-width: $break-medium) {
        &.auth-open.menu-open,
        &.auth-open:not(.menu-closed),
        &.menu-closed {
            .branding .text,
            .main.panel .options .item .text {
              display:          none;
            }
        }
    }

    /*
    @media screen and (min-width: $break-x-extra) {
        &.auth-open.menu-open,
        &.auth-open:not(.menu-closed) {
            .branding .text,
            .main.panel .options .item .text {
              display:          initial;
            }
        }
    }
    */

}
