
.default.layout {

    >.panel {
      display:          flex;
      flex-direction:   column;
      padding-bottom:   $app-block-size;
      position:         fixed;
      top:              0;
      z-index:          2;

        &.auth,
        &.main {
          background-color: $surface-overlay;
        }

        &.auth >.footer,
        &.main >.footer,
        &.main >.header {
          height:           $app-block-size;
        }

        >.header,
        >.footer,
        >.options {
          display:          none;
          overflow:         hidden;
          width:            inherit;
        }

        >.footer {
          bottom:           0;
          display:          flex;
          flex-direction:   row;
          position:         fixed;

            .action {
              align-items:      center;
              cursor:           pointer;
              display:          flex;
              flex-grow:        1;
              height:           inherit;
              justify-content:  center;

                &:active, &:hover {
                  background-color: $surface-primary;
                }
            }
        }
    }

    .auth.panel {
      right:            0;
    }

    .main.panel {
      left:             0;
    }


    @media screen and (min-width: $break-medium) {
        .auth.panel,
        .main.panel {
            >.footer {
              display:          none !important;
            }
            >.header {
              display:          flex;
            }
        }

        .auth.panel >.options {
          display:          flex;
        }

        .main.panel >.options {
          display:          block;
        }
    }

}
