
.default.layout {

    .table.container {
        >.fixed-layout .p-datatable .p-datatable-table,
        .p-datatable .p-datatable-table.fixed-layout {
          table-layout:     fixed;
        }
        >.unfixed-layout .p-datatable .p-datatable-table,
        .p-datatable .p-datatable-table.unfixed-layout {
          table-layout:     unset;
        }

        .filter-controls {
          background-color: $table-header;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          color:            $table-header-color;
          padding:          .25rem .5rem;

            .filter {
                .p-button, .p-inputtext {
                  font-size:        .925rem;
                  padding:          .375rem;
                }
            }
        }

        .p-datatable {
            .p-datatable-header {
              background-color: $table-header;
              color:            $table-header-color;
            }

            .p-datatable-table {
                .p-datatable-thead {
                    tr th {
                      background-color: $table-header;
                      color:            $table-header-color;
                    }
                }
            }

            td.actions {
              white-space:          nowrap;

                .p-button {
                    &.p-button-sm,
                    &.p-button-sm .pi.p-button-icon {
                      font-size:        .825rem;
                    }

                    &.p-button-sm {
                      height:           2rem;
                      width:            2rem;
                    }
                }

                .p-column-title {
                  flex-grow:        1;
                  text-align:       left;
                }
            }

            th.actions .p-column-header-content, td.actions {
              justify-content:  center;
              text-align:       center;
            }

            th.text-center .p-column-header-content {
              display:          initial;
              text-align:       center;
            }
            th.text-left .p-column-header-content {
              display:          initial;
              text-align:       left;
            }
            th.text-right .p-column-header-content {
              display:          initial;
              text-align:       right;
            }

            tbody.p-datatable-tbody > tr.p-datatable-emptymessage {
              background-color:     var(--surface-c);

                > td {
                  border-bottom:    0;
                  color:            $color-secondary;
                  font-style:       italic;
                  padding:          1.5rem .5rem;
                  text-align:       center;
                }
            }

            .p-datatable-thead > tr > th {
              font-family:      $font-family-secondary;
              font-weight:      400;

                &.p-sortable-column {
                    .p-column-header-content .p-column-title {
                      flex-grow:        1;
                    }

                    .p-sortable-column-icon {
                      font-size:        .875rem;
                    }
                }
            }
        }

        .p-datatable-tbody {
            > tr {
                &.p-rowgroup-header {
                  background-color: var(--surface-b);
                }
                &.background-danger {
                  background-color: $table-row-danger !important;
                }
                &.background-info {
                  background-color: $table-row-info !important;
                }
                &.background-primary {
                  background-color: $table-row-primary !important;
                }
                &.background-secondary {
                  background-color: $table-row-secondary !important;
                }
                &.background-success {
                  background-color: $table-row-success !important;
                }
                &.background-warning {
                  background-color: $table-row-warning !important;
                }
            }
        }

        .p-datatable-header {
            .controls-bar,
            .search-bar {
              align-items:      center;
              display:          flex;
              padding:          0;

                .p-dropdown {
                    .p-dropdown-label,
                    .p-dropdown-trigger {
                      height:           inherit;
                    }

                    .p-dropdown-label {
                      align-items:      center;
                      display:          flex;
                      height:           inherit;
                      justify-content:  center;
                      padding:          0;
                    }

                    .p-dropdown-trigger {
                      height:           inherit;
                      width:            1.5rem;
                    }
                }
            }

            .controls-bar {
              margin-bottom:    .5rem;
            }
        }

        .p-datatable.p-datatable-sm {
            .p-datatable-header {
              display:          flex;
              flex-wrap:        wrap;
              padding:          .5rem 1rem;
              justify-content:  space-between;

                .controls-bar,
                .search-bar {
                  height:           2rem;
                  padding:          0;

                    .p-button,
                    .p-component,
                    .p-dropdown,
                    .p-inputgroup-addon {
                      height:           2rem;
                    }

                    .p-button.p-button-icon-only {
                      width:            2rem;
                    }

                    .p-dropdown {
                        .p-dropdown-label {
                          padding-bottom:   .25rem;
                          padding-left:     .25rem;
                        }

                        .p-dropdown-trigger .p-dropdown-trigger-icon {
                          font-size:        .875rem;
                        }
                    }
                }
            }
        }

    }

    @media screen and (min-width: $break-large) {
        .table.container .p-datatable.p-datatable-sm {
            .p-datatable-header {
              flex-wrap:        nowrap;
            }
            .controls-bar {
              margin-bottom:    0;
            }
        }
    }

}

.container.table {
    >.shadow-1 {
      box-shadow: none !important;
        >.filter-controls,
        >.p-datatable >.p-datatable-header,
        >.p-datatable >.p-datatable-wrapper,
        >.p-datatable >.p-paginator-bottom {
          box-shadow: $shadow-1;
        }
    }
    >.shadow-2 {
      box-shadow: none !important;
        >.filter-controls,
        >.p-datatable >.p-datatable-header,
        >.p-datatable >.p-datatable-wrapper,
        >.p-datatable >.p-paginator-bottom {
          box-shadow: $shadow-2;
        }
    }
    >.shadow-3 {
      box-shadow: none !important;
        >.filter-controls,
        >.p-datatable >.p-datatable-header,
        >.p-datatable >.p-datatable-wrapper,
        >.p-datatable >.p-paginator-bottom {
          box-shadow: $shadow-3;
        }
    }
    >.shadow-4 {
      box-shadow: none !important;
        >.filter-controls,
        >.p-datatable >.p-datatable-header,
        >.p-datatable >.p-datatable-wrapper,
        >.p-datatable >.p-paginator-bottom {
          box-shadow: $shadow-4;
        }
    }
    >.shadow-5 {
      box-shadow: none !important;
        >.filter-controls,
        >.p-datatable >.p-datatable-header,
        >.p-datatable >.p-datatable-wrapper,
        >.p-datatable >.p-paginator-bottom {
          box-shadow: $shadow-5;
        }
    }
}
