
.layout {
  position:         relative;

    &.default {
        .main.menu,
        .main.page {
          min-height:       100vh;
        }

        .main.menu {
          position:         fixed;
          z-index:          2;
        }

        .main.page {
          position:         relative;
          z-index:          1;
        }

        @import 'layouts/default';
    }

    &.guest {
        @import 'layouts/guest';
    }

    @import 'primevue/cards';
    @import 'primevue/forms';
    @import 'primevue/panels';
    @import 'primevue/tables';

    .p-component {
      font-family:      $font-family-primary;
    }
}
