
.layout {
  background-color: inherit;
  position:         relative;

    .main.menu,
    .main.page {
      min-height:       100vh;
    }

    .auth.panel,
    .main.menu {
      position:         fixed;
      z-index:          2;
    }

    .auth.panel {
      right:            0;
    }

    .main.page {
      background-color: var(--bluegray-50);
      position:         relative;
      z-index:          1;
    }

    @import 'layouts/default';
}
