
.max-width-xs {
  max-width:        $break-x-small;
}
.max-width-sm {
  max-width:        $break-small;
}
.max-width-md {
  max-width:        $break-medium;
}
.max-width-lg {
  max-width:        $break-large;
}
.max-width-xl {
  max-width:        $break-x-large;
}

.min-width-xs {
  min-width:        $break-x-small;
}
.min-width-sm {
  min-width:        $break-small;
}
.min-width-md {
  min-width:        $break-medium;
}
.min-width-lg {
  min-width:        $break-large;
}
.min-width-xl {
  min-width:        $break-x-large;
}

.width-xs {
  width:            $break-x-small;
}
.width-sm {
  width:            $break-small;
}
.width-md {
  width:            $break-medium;
}
.width-lg {
  width:            $break-large;
}
.width-xl {
  width:            $break-x-large;
}
