
//  define the app sizing blocks
$app-rem-size:      16px;
$app-block-size:    $app-rem-size * 4;


//  define the breakpoints
//  todo: it might be possible to access these sizes from primeflex? not sure..
$break-large:       992px;
$break-medium:      768px;
$break-small:       576px;
$break-x-large:     1184px;
$break-x-small:     416px;


//  define the colours
$background-color:  var(--bg-color);
$color:             var(--text-color);
$color-primary:     var(--bluegray-600);
$color-secondary:	var(--green-600);

$color-success:     $color-secondary;
$color-danger:      var(--red-600);
$color-info:        var(--blue-600);
$color-warning:     var(--orange-600);


//  define the fonts
$font-family-primary:   'Helvetica Neue', 'Helvetica', sans-serif;
$font-family-secondary: 'Helvetica Light', $font-family-primary;
