
@font-face {
  font-family:		'AuraNext';
  src:				url('/fonts/aura-next/Aura-Next-Regular.ttf') format('truetype');
  font-weight:		300;
}
@font-face {
  font-family:		'AuraNext';
  src:				url('/fonts/aura-next/Aura-Next-Regular.ttf') format('truetype');
  font-weight:		500;
}
