
.default.layout {

    .auth.panel {
        .profile.header {
          align-items:      center;
          display:          flex;
          flex-direction:   column;
          justify-content:  center;
          margin-bottom:    1rem;
          margin-top:       4rem;
          width:            $auth-panel-size;

            .avatar {
                .p-avatar {
                    &.greyscale-dark {
                      background-color: $surface-primary !important;

                        .p-avatar-text {
                          color:            $surface-section;
                        }
                    }

                    &.greyscale-light {
                      background-color: $surface-section !important;

                        .p-avatar-text {
                          color:            $surface-primary;
                        }
                    }

                    &.has-border {
                      border:           2px solid $white;
                    }
                }
            }

            .email {
              font-weight:          100;
              margin-bottom:        1rem;
            }
            .name {
              font-weight:          400;
              margin-top:           1rem;
            }
        }

        .options {
          flex-direction:   row;
          flex-wrap:        nowrap;
          justify-content:  space-evenly;

            .item.action:hover .option .icon {
              background-color: aliceblue;
            }

            .item {
                .option {
                  align-items:      center;
                  display:          flex;
                  flex-direction:   column;
                  margin-left:      .5rem;
                  margin-right:     .5rem;

                    .icon {
                      align-items:      center;
                      background-color: $surface-section;
                      border-radius:    12345px;
                      display:          flex;
                      height:           2.5rem;
                      justify-content:  center;
                      transition:       background .35s ease;
                      width:            2.5rem;

                        .pi {
                          color:            $surface-overlay;
                          font-size:        1.25rem;
                        }
                    }

                    .text {
                      display:          inline-block;
                      font-size:        .875rem;
                      margin:           .25rem 0;
                    }
                }
            }
        }
    }

}
