
.default.layout {

    .main.panel {
        .options {
            .item {
              overflow:         hidden;
              padding:          .125rem 0 0;

                .option {
                  align-items:      center;
                  display:          flex;
                  margin-bottom:    .125rem;
                  padding-left:     1rem;
                  padding-right:    1rem;

                    &.is-active {
                      background-color: $menu-active;
                    }

                    &:hover:not(.is-active):not(.has-children) {
                      background-color: $menu-hover;
                    }

                    .icon {
                      width:            1.25rem;
                        &.open-indicator {
                          position:         absolute !important;
                          right:            0;
                        }
                    }

                    .text {
                      flex-grow:        1;
                      font-family:      'Open Sans', $font-family-secondary;
                      font-weight:      100;
                      text-indent:      .5rem;
                      white-space:      nowrap;
                      width:            0;
                    }
                }

                .sub-menu {
                  max-height:       0;
                  transition:       max-height $menu-transition;

                    .item:last-child {
                      margin-bottom:    .25rem;
                    }

                    &.is-open {
                      max-height:       1234px;
                    }
                }
            }
        }

        >.options {
            >.item {
                .option {
                  height:           2rem;

                    .icon {
                      text-align:       center;
                      width:            2rem;
                    }

                    .text {
                      align-self:       center;
                    }

                    .icon, .text {
                      align-self:       center;
                    }
                }

                >.sub-menu {
                  background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }

    &.menu-open,
    &:not(.menu-closed) {
        .main.panel {
            .top-menu .item .sub-menu {
                .option {
                  padding-left:     1.5rem;
                  padding-right:    1.5rem;
                }
            }
        }
    }

}
