@charset 'UTF-8';

//  the base vendor resources
@import '~/primevue/resources/themes/saga-blue/theme.css';
@import '~/primevue/resources/primevue.min.css';
@import '~/primeflex/primeflex.min.css';
@import '~/primeicons/primeicons.css';


//  the local app resources
@import 'app/variables.css';
@import 'app/colors.css';
@import "fonts/helveticaneue";  // 'Helvetica Neue',
@import "fonts/opensans";       // 'Open Sans',
@import "fonts/roboto";         // 'Roboto','


//  the default layout
@import 'app/layouts/default.css';
@import 'app/layouts/default/actions.css';
@import 'app/layouts/default/avatars.css';
@import 'app/layouts/default/forms.css';
@import 'app/layouts/default/lists.css';
@import 'app/layouts/default/menus.css';
@import 'app/layouts/default/menus/auth.css';
@import 'app/layouts/default/menus/main.css';
@import 'app/layouts/default/page.css';
@import 'app/layouts/default/panels.css';
@import 'app/layouts/default/tables.css';
@import 'app/layouts/guest.css';


//  the app style definitions
@import 'app/branding.css';
@import 'app/dashboard.css';
@import 'app/effects.css';
@import 'app/indicators.css';
@import 'app/notifications.css';
@import 'app/positioning.css';
@import 'app/sizing.css';


//  the app primevue adjustments
@import 'app/primevue.css';
@import 'app/primevue/avatars.css';
@import 'app/primevue/cards.css';
@import 'app/primevue/dataviews.css';
@import 'app/primevue/forms.css';
@import 'app/primevue/panels.css';
@import 'app/primevue/tables.css';


//  the core html elements
html {
  scrollbar-width:  thin;
}

body {
  background:       $body-background;
  color:            $body-color;
  font-family:      $font-family-primary;
  font-size:        $app-rem-size;
  font-weight:      200;
  margin:           0;
  padding:          0;
}

dl,h1,h2,h3,h4,h5,h6,ol,p,ul {
  margin:           0;
}

h1,h2,h3,h4 {
  font-family:      $font-family-secondary;
}
h1,h2 {
  font-weight:      200;
}
h3,h4 {
  font-weight:      400;
}
strong {
  font-weight:      600;
}

a, a:visited {
  color:            var(--bluegray-700);
  text-decoration:  none;
  transition:       color .25s ease;
}
a:active, a:hover {
  color:            var(--bluegray-800);
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
