@charset 'UTF-8';

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@source inline('{,md:,lg:,xl:}col-span-{1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16}');

@layer enraiged {
    @import './app/avatars.css';
    @import './app/branding.css';
    @import './app/dialogs.css';
    @import './app/forms.css';
    @import './app/layouts.css';
    @import './app/menus.css';
    @import './app/tables.css';
    @import './app/theme.css';
}

html {
  scrollbar-width:  thin;
}

body {
  font-size:        16px;
  font-weight:      400;
  margin:           0;
  padding:          0;
}

#teleport {
  display:          flex;
  height:           100vh;
  left:             0;
  position:         fixed;
  top:              0;
  width:            100vw;
  z-index:          11;

    >.mask {
      background:       var(--p-surface-200);
      content:          "";
      height:           inherit;
      left:             inherit;
      opacity:          .5;
      top:              inherit;
      position:         fixed;
      width:            inherit;
      z-index:          12;
    }

    &.flex-centered {
      align-items:      center;
      justify-content:  center;
    }

    >* {
      opacity:          1;
      z-index:          13;
    }
}

.dark-mode {
    #teleport > .mask {
      background:       var(--p-surface-900);
    }
}
