@charset 'UTF-8';

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.switch-dark-mode, .switch-dark-mode *));

@layer enraiged {
    @import './app/forms.css';
    @import './app/layouts.css';
    @import './app/theme.css';

    input:autofill {
      background: unset !important;
      transition:
        background-color calc(infinity * 1s) step-end,
        background-image calc(infinity * 1s) step-end allow-discrete,
        color calc(infinity * 1s) step-end;
    }

    .p-button-warning {
      background:       var(--p-button-warn-background);
      border:           1px solid var(--p-button-warn-border-color);
      color:            var(--p-button-warn-color);
    }

    .p-card-header {
      border-radius:    var(--p-card-border-radius) var(--p-card-border-radius) 0 0;
      padding:          var(--p-card-body-padding) var(--p-card-body-padding) 0;
    }

    .p-checkbox.p-invalid:focus > .p-checkbox-box,
    .p-checkbox.p-invalid:hover > .p-checkbox-box {
      border-color:     var(--p-checkbox-invalid-border-color);
    }
    .p-inputtext.p-invalid:focus,
    .p-inputtext.p-invalid:hover {
      border-color:     var(--p-inputtext-invalid-border-color);
    }
    .p-password.input-error .p-password-toggle-mask-icon {
      color:            var(--p-form-field-icon-color);
    }

    *::placeholder,
    .p-placeholder {
      opacity:          .625;
    }

    .text-link {
        @apply rounded-md text-primary-500 hover:text-primary-400 focus:outline-none focus:ring-primary-400 focus:ring-1 focus:ring-offset-2;
    }
    .text-surface {
        @apply text-surface-600 dark:text-surface-400;
    }

    .text-danger {
        @apply text-red-600 dark:text-red-400;
    }
    .text-help {
        @apply text-purple-600 dark:text-purple-400;
    }
    .text-info {
        @apply text-sky-600 dark:text-sky-400;
    }
    .text-neutral {
        @apply text-gray-800 dark:text-surface-200;
    }
    .text-success {
        @apply text-green-600 dark:text-green-400;
    }
    .text-warning {
        @apply text-amber-600 dark:text-amber-400;
    }

    .p-editor .p-editor-content .ql-editor {
      background-color: var(--p-surface-0)
    }
    .dark-mode {
        .p-editor .p-editor-content .ql-editor {
          background-color: var(--p-surface-950);
        }
    }
}
