
&.container {
  display:          flex;
  align-items:      center;
  justify-content:  center;
  min-height:       100vh;

    >.main {
      display:          none;
      margin:           1rem;
    }

    >.panel {
      border-radius:    .375rem;
      flex-grow:        1;
      max-width:        calc($break-medium + 1px);
      margin:           1rem;
      width:            100%;
    }
}

/* @media screen and (min-width: $break-medium) {
    .auth.container .panel {}
} */
