
.form {
  display:          flex;
  align-items:      center;
  flex-direction:   column;
  padding:          1rem;

    .field {
      max-width:        calc($break-x-small + 1px);

        .form-error {
          color:            $color-danger;
          font-size:        .875rem;
          line-height:      .5rem;
          margin-top:       .25rem;
        }
    }

    .field, .field:not(.switch) .p-component {
      width:            100%;
    }

    .field.switch {
      display:          flex;
      align-items:      center;
      flex-direction:   row;
      flex-wrap:        wrap;
      justify-content:  flex-end;
      margin-bottom:    1rem;
      margin-top:       1rem;

        label {
          margin:           0 1rem;
        }

        .form-error {
          flex-basis:       100%;
          margin-top:       .375rem;
          text-align:       right;
        }
    }
}

/* @media screen and (min-width: $break-large) {
    .login .form .field {}
} */
