
.form {
  display:          flex;
  align-items:      center;
  flex-direction:   column;
  padding:          1rem;

    .field {
      max-width:        calc($break-x-small + 1px);
    }
    .field, .field:not(.switch) .p-component {
      width:            100%;
    }
    .field.switch {
      display:          flex;
      align-items:      center;
      flex-direction:   row;
      justify-content:  flex-end;
      margin-bottom:    1rem;
      margin-top:       1rem;

        label {
          margin:           0 1rem;
        }
    }
}

/* @media screen and (min-width: $break-large) {
    .login .form .field {}
} */
