
.panel {
    &.login {}

    .footer {
      display:          flex;
      justify-content:  center;

        >.container {
          align-items:      center;
          display:          flex;
          flex-direction:   row-reverse;
          justify-content:  space-between;
          margin:           1rem;
          max-width:        calc($break-x-small + 1px);
          width:            100%;
        }
    }

    .header {
      border-top-left-radius: .375rem;
      border-top-right-radius: .375rem;

        h1 {
          margin:           0;
          padding:          1rem;
        }
    }
}
