
#app {

    //  the default.layout mobile screen mechanics
    .default.layout {
      position:         relative;

        .auth.panel,
        .main.panel,
        .main.page {
          min-height:       100vh;
        }

        .auth.panel,
        .main.panel,
        .main.page >.content,
        .main.page >.top {
          transition:       all $menu-transition;
        }
        .main.page {
          margin-left:      0;
          margin-right:     0;
          transition:       all $menu-transition;
          width:            calc(100vw - (100vw - 100%)); // this! handy little trick to account for scrollbar width
            .main.content {
                >.fixed.header {
                  transition:       all $menu-transition;
                  width:            inherit;
                  z-index:          9;
                    +.container,
                    +.container +.container {
                      padding-top:      calc(1rem + $page-header-size);
                      
                        +.footer {
                            >.actions {
                              position:         relative;
                            }
                        }
                    }
                }
            }
            .nav.top {
              width:            inherit;
            }
        }

        .auth.panel,
        .main.panel {
          transition:       all $menu-transition;
          width:            0;
        }

        &.menu-open .main.panel {
            width:            $menu-panel-size;
        }

        &.auth-open,
        &.auth-open.menu-closed,
        &.auth-open.menu-open {
            .auth.panel {
              width:            $auth-panel-size;
            }
        }

        &.auth-open,
        &.menu-open {
            .panel >.footer,
            .panel >.header {
              display:          flex;
            }
        }

        &.auth-open .auth.panel >.options {
          display:          flex;
        }

        &.menu-open .main.panel >.options {
          display:          block;
        }
    }

    .default.overlay {
      align-items:      center;
      background-color: $surface-overlay;
      display:          flex;
      height:           100vh;
      justify-content:  center;
      width:            100vw;
    }


    //  the default.layout medium screen mechanics
    @media screen and (max-width: calc($break-medium - 1px)) {
        .default.layout {
            &.auth-open:not(menu-closed),
            &.auth-open.menu-open {
                .main.panel {
                  width:            0;
                }
            }
        }
    }

    @media screen and (min-width: $break-medium) {
        .default.layout {
            &.menu-closed {
                .main.page {
                  margin-left:      $app-block-size;
                  width:            calc((100vw - (100vw - 100%)) - $app-block-size);
                    .main.content >.fixed.header {
                      width:            calc((100vw - (100vw - 100%)) - $app-block-size);
                    }
                    .nav.top {
                      width:            inherit; // calc(100% - $app-block-size);
                    }
                }
                .main.panel {
                  width:            $app-block-size;
                }
            }

            &.menu-open, &:not(.menu-closed) {
                .main.page {
                  margin-left:      $menu-panel-size;
                  width:            calc((100vw - (100vw - 100%)) - $menu-panel-size);
                    .main.content >.fixed.header {
                      width:            calc((100vw - (100vw - 100%)) - $menu-panel-size);
                    }
                    .nav.top {
                      width:            inherit; // calc(100% - $menu-panel-size);
                    }
                }
                .main.panel  {
                  width:            $menu-panel-size;
                }
            }

            &.auth-open,
            &.auth-open.menu-closed,
            &.auth-open.menu-open {
                .main.page {
                  margin-left:      $app-block-size;
                  margin-right:     $auth-panel-size;
                  width:            calc((100vw - (100vw - 100%)) - ($app-block-size + $auth-panel-size));
                    .main.content >.fixed.header {
                      width:            calc((100vw - (100vw - 100%)) - ($app-block-size + $auth-panel-size));
                    }
                    .nav.top {
                      width:            calc(100% - ($app-block-size + $auth-panel-size));
                    }
                }
                .main.panel {
                  width:            $app-block-size;
                }
            }
        }
    }

    /*
    //  the default.layout extra extra screen mechanics
    @media screen and (min-width: $break-x-extra) {
        .default.layout {
            &.auth-open:not(menu-closed),
            &.auth-open.menu-open {
                .main.page {
                  margin-left:      $menu-panel-size;
                  margin-right:     $auth-panel-size;
                }
                .main.page .main.content, .main.page .nav.top {
                  width:            calc(100vw - ($menu-panel-size + $auth-panel-size));
                }
                .main.panel {
                  width:            $menu-panel-size;
                }
            }
        }
    }
    */

}
