
.auth.panel {
    .profile.header {
      align-items:      center;
      display:          flex;
      flex-direction:   column;
      justify-content:  center;
      margin-bottom:    1rem;
      margin-top:       4rem;
      width:            $auth-panel-size;

        .avatar {
            .p-avatar {
                &.greyscale-dark {
                  background-color: var(--bluegray-600) !important;

                    .p-avatar-text {
                      color:            var(--bluegray-100);
                    }
                }

                &.greyscale-light {
                  background-color: var(--bluegray-100) !important;

                    .p-avatar-text {
                      color:            var(--bluegray-600);
                    }
                }

                &.has-border {
                  border:           2px solid $white;
                }
            }
        }

        .name {
          margin:           1rem 0;
        }
    }

    .options {
      justify-content:  space-evenly;
    }
}
