
.p-card {
  background-color: $card-background;
  border-color:     $card-border;
  box-shadow:       none;
  color:            $card-color;

    .header {
      background-color: $card-header-background;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color:     $card-border;
      color:            $card-color;
      padding:          .5rem 1rem;
    }

    .p-card-content {
      padding:          0;
    }
}
