
.p-dataview {
    .p-dataview-content {
      background-color: transparent;
    }
    .p-dataview-header {
      background:       none;
      border:           none;
      padding:          0;
    }
}

.p-dataview-emptymessage {
  color:            $color-secondary;
  padding:          1rem;
  text-align:       center;
}
