
.p-dialog {
  background-color: $white;

    .p-dialog-header {
      background-color: $surface-section;
      margin-bottom:    1rem;
      padding:          1rem;
    }
    .p-dialog-content {
      padding:          0 1rem;
    }
    .p-dialog-footer {
      margin-top:       1rem;
      padding:          1rem;
    }
}
