
.bg-white.dropdown {
    .p-dropdown, .p-dropdown-label {
      background:       white !important;
    }
}

.p-colorpicker .p-colorpicker-preview {
  height:           inherit;
  width:            inherit;
}

.p-dropdown {
    &.w-full {
      overflow:         hidden;
        .p-inputtext {
          padding:          calc(.5rem - 1px) .5rem;
        }
    }
    .p-dropdown-clear-icon {
      z-index:          9;
    }
}

.p-inputswitch {
  min-width:        3rem;
}

.p-dropdown-label.p-placeholder {
  opacity:          .5;
}

.p-dropdown-label.p-placeholder
.p-inputtextarea,
.p-inputtext {
  font-family:      $font-family-primary;
}

/*.p-inputtextarea,
.p-inputtext {
    &::placeholder {
      font-size:        .925rem;
      font-style:       italic;
    }
    &.p-invalid::placeholder {
      color:            red;
    }
}*/

.p-password.p-inputwrapper.w-full .p-password-input {
  width:            100%;
}
