
.p-datatable {

    .p-datatable-table {
      border-collapse: collapse;
      min-width: 100%;
      table-layout: fixed;
    }

    .p-datatable-tbody {
        > tr {
            &.background-danger {
              background-color: lighten($background-danger, 5%);
            }
            &.background-info {
              background-color: lighten($background-info, 5%);
            }
            &.background-success {
              background-color: lighten($background-success, 5%);
            }
            &.background-warning {
              background-color: lighten($background-warning, 5%);
            }
        }
    }

    td.actions {
        .p-button {
            &.p-button-sm,
            &.p-button-sm .pi.p-button-icon {
              font-size:        .825rem;
            }

            &.p-button-sm {
              height:           2rem;
              width:            2rem;
            }
        }

        .p-column-title {
          flex-grow:        1;
          text-align:       left;
        }
    }

    th.actions .p-column-header-content, td.actions {
      justify-content:  center;
      text-align:       center;
    }

    th.text-center .p-column-header-content {
      display:          initial;
      text-align:       center;
    }
    th.text-left .p-column-header-content {
      display:          initial;
      text-align:       left;
    }
    th.text-right .p-column-header-content {
      display:          initial;
      text-align:       right;
    }

    tbody.p-datatable-tbody > tr.p-datatable-emptymessage {
      background-color:     var(--surface-c);

        > td {
          border-bottom:    0;
          color:            $color-grey;
          font-style:       italic;
          padding:          1.5rem .5rem;
          text-align:       center;
        }
    }

    .p-datatable-thead > tr > th {
      font-family:      $font-family-secondary;
      font-weight:      400;

        &.p-sortable-column {
            .p-column-header-content .p-column-title {
              flex-grow:        1;
            }

            .p-sortable-column-icon {
              font-size:        .875rem;
            }
        }
    }
}

.p-datatable-header {
  margin-bottom:    1rem;
}

.p-paginator {
  margin-top:       1rem;
}
