
.active-status {
  display:          flex;
  justify-content:  center;

    .status-danger, .status-info, .status-success, .status-warning {
      align-items:      center;
      color:            $white;
      display:          flex;
      height:           1.25rem;
      justify-content:  center;

        &.is-rounded {
          border-radius:    1.5rem;
          width:            1.25rem;
        }
        &:not(.is-rounded) {
          border-radius:    .125rem;
          flex-grow:        1;
        }

        .pi {
          font-size:        .625rem;
        }
        .text {
          font-size:        .75rem;
        }
    }

    .status-danger {
      background-color: $color-danger;
    }

    .status-success {
      background-color: $color-success;
    }
}

/* this was an idea; static badge behind the avatar..? meh
.avatar {
  position:         relative;

    .active-status {
      position:         absolute;
      height: 1.5rem;   width: 1.5rem;
      top: 0;           right: -.5rem;
      opacity:          .5;
      z-index:          5;

        &:hover {
          opacity:          1;
          z-index:          9;
        }

        .status-danger, .status-info, .status-success, .status-warning {
          height:           inherit;
          width:            inherit;
          z-index:          5;

            .pi {
              font-size:        .75rem;
            }
        }
    }

    .p-avatar {
      position:         relative;
      z-index:          7;
    }
}
*/
