
//  define the app sizing blocks
$app-rem-size:      16px;
$app-block-size:    $app-rem-size * 4;


//  define the breakpoints
$break-large:       992px;
$break-medium:      768px;
$break-small:       576px;
$break-x-extra:     1536px;
$break-x-large:     1184px;
$break-x-small:     416px;


//  define the colours
$black:             black;
$white:             white;

$background-color:  var(--bg-color);
$color:             var(--text-color);
// $color-primary:     var(--bluegray-600);
// $color-secondary:	var(--orange-600);
$color-grey:        var(--bluegray-400);

$color-success:     #689f38;
$color-danger:      #d32f2f;
$color-info:        #0288d1;
$color-warning:     #fbc02d;

$surface-border:    var(--bluegray-100);
$surface-card:      var(--bluegray-200); // bbc7cd
$surface-ground:    var(--bluegray-50);
$surface-overlay:   var(--bluegray-800); // 35454c
$surface-overlay-dark: darken(#35454c, 3%);
$surface-section:   var(--bluegray-100);

$body-background:   $surface-section;
$body-color:        $surface-overlay;
$card-background:   $surface-ground;
$card-border:       $surface-border;
$card-color:        #495057;
$card-header-background:    var(--surface-200);
$card-header-color: #495057;
$top-background:    $surface-card;
$top-border:        #a1b1ba;
$top-hover:         var(--bluegray-300);


//  define the fonts
$font-family-primary:   'Helvetica Neue', 'Helvetica', sans-serif;
$font-family-secondary: 'Roboto', $font-family-primary;
$font-family-avatar:    'Helvetica Neue Condensed', $font-family-primary;


//  define the menu sizing parameters
$menu-panel-size:       $app-block-size * 5;
$menu-transition:       .35s ease;

//  the auth panel is the right side slide-in panel
$auth-panel-size:       $app-block-size * 4;
$auth-transition:       $menu-transition;

//  the page header is the h1 wrapper header
$page-header-size:      $app-block-size;
